rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // test 버전의 만료 기간 조건(request.time < timestamp.date(...))을 제거하여
      // 영구적으로 읽기 및 쓰기가 가능하도록 설정
      allow read, write: if true;
    }
  }
}
